@font-face {
  font-family: Apercu;
  font-weight: 300;
  src: url("css/fonts/Apercu Light.otf") format("opentype");
}

@font-face {
  font-family: Apercu;
  font-weight: 400;
  src: url("css/fonts/Apercu Regular.otf") format("opentype");
}

@font-face {
  font-family: Apercu;
  font-weight: 500;
  src: url("css/fonts/Apercu Medium.otf") format("opentype");
}

@font-face {
  font-family: Apercu;
  font-weight: 700;
  src: url("css/fonts/Apercu Bold.otf") format("opentype");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 100%;
  font-family: Apercu, sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(230, 230, 230);
}

a{
  text-decoration: none;
  color: black;
}

h1{
  font-size: 11rem;
  font-size: 11vw;
  font-weight: 400;
  letter-spacing: -0.2vw;
}

h2{
  font-size: 4rem;
  font-size: 4vw;
  font-weight: 700;
}

h3{
  font-size: 1.6rem;
  font-size: 1.6vw;
  font-weight: 400;
}

p {
  font-size: 1.2rem;
  font-size: 1.2vw;
  font-weight: 400;
}

li{
  list-style-type: none;
}

img{
  width: 100%;
  height: auto;
}

/* header */
header{
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 5%;

  border-bottom: 0.2vw solid;
}

.nav-link{
  font-size: 1.8rem;
  font-size: 1.8vw;
  font-weight: 400;
}

.header-list{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.8vw;
}

/* index.html */

/* about */
.about{
  margin-left: 10%;
  margin-right: 30%;
  padding-bottom: 20%;
}

.about h1{
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.about h3{
  margin-right: 35%;
  line-height: 1.6;
}

/* projects */
.projects{
  margin-left: 10%;
  margin-right: 30%;
  padding-bottom: 20%;
}

.projects h1{
  padding-bottom: 2vw;
  border-bottom: 0.2vw solid;
}

.projects img{
  padding-top: 4vw;
  height: auto;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.projects li{
  border-bottom: 0.2vw solid;
}

.projects a{
  font-size: 4vw;
  font-weight: 400;
}

.projects .sanctuary-container{
  padding-top: 4vw;
  max-height: 12vw;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.projects .girls-in-tech-container{
  padding-top: 4vw;
  max-height: 12vw;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.projects .sanctuary-container:hover{
  max-height: 100vw;
  transition: max-height 0.5s ease-in;
}

.projects .girls-in-tech-container:hover{
  max-height: 100vw;
  transition: max-height 0.5s ease-in;
}

/* contact */
.contact{
  margin-left: 10%;
  margin-right: 30%;
  padding-bottom: 5%;
  border-bottom: 0.2vw solid;
}

.contact h3{
  margin-right: 35%;
  line-height: 1.6;
}

.contact a{
  padding-bottom: 0.5vw;
  border-bottom: 0.1vw solid;
}

.contact h1{
  padding-bottom: 3vw;
}

/* sanctuary.html */

/* project-description */
.project-description{
  margin-left: 10%;
  margin-right: 30%;
  border-bottom: 0.2vw solid;
}

.project-description h1{
  padding-top: 3vw;
}

.project-description h2{
  padding-bottom: 3vw;
}

.project-description h3{
  line-height: 1.6;
  padding-bottom: 3vw;
}

.project-description p{
  padding-bottom: 3vw;
}

/* footer */
footer{
  margin-left: 10%;
  margin-right: 30%;
  margin-bottom: 5%;
}

.footer-list{
  display: flex;
  justify-content: space-between;
  padding-top: 0.8vw;
}

.footer-link{
  font-size: 1.8rem;
  font-size: 1.8vw;
  font-weight: 400;
}
